.portfolio_container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:2rem
}

.portfolio_item{
    background:var(--color-bg-variant);
    padding:1.5rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition:400ms
}
.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_image{
    border-radius: 1.1rem;
    overflow:hidden;
}
.portfolio_item p{
    margin:1.2rem 2rem;
    font-size:.8rem;
    color:var(--color-primary-variant)
}

.portfolio_btn{
    display:flex;
    gap: 1rem;
    margin:1rem
}

@media screen and (max-width: 1024px){
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:600px){
    .portfolio_container{
        grid-template-columns:1fr
    }
}