.container.testimonials_container {
    width:40%;
    padding-bottom:40px
}


.swiper-pagination-clickable .swiper-pagination-bullet {
    
    background:rgb(246, 5, 21)
}
.testimonial_item{
    background: var(--color-primary-variant);
    border-radius: 1rem;
    padding-top:5px;
}

.testimonial_item p{
    padding:1rem;
    text-align: center
}

.testimonials_image{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border:0.2rem solid var(--color-primary);
    
}
@media screen and (max-width:600px) {
    .container.testimonials_container{
        width:90%;
    }
}
